# Project 3: Data Cleaning - Tidy up messy Datasets (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 3 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## First Steps

In [40]:
import pandas as pd

1. __Load__ and __inspect__ the messy dataset __movies_metadata.csv__. Identify columns with nested / stringified json data.

In [41]:
movies = pd.read_csv('movies_metadata.csv', index_col = 'id')
movies.head(n =2)

/Users/jason1602/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3186: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,,,
862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

## Dropping irrelevant Columns

2. __Drop__ the irrelevant columns 'adult', 'imdb_id', 'original_title', 'video' and 'homepage'.

In [42]:
movies.drop(labels =['adult','title','original_title'], axis = 1, inplace = True)
movies.head(n=2)

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,,
862,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.7,5415.0
8844,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413.0

## How to handle stringified JSON columns

3. __Evaluate__ Python Expressions in the stringified columns ["belongs_to_collection", "genres", "production_countries", "production_companies", "spoken_languages"] and __remove quotes__ ("") where possible.

In [43]:
import ast

In [44]:
movies['belongs_to_collection'] = movies.belongs_to_collection.map(ast.literal_eval,na_action ='ignore' )

In [45]:
movies.genres =movies.genres.map(ast.literal_eval, na_action = 'ignore')

In [46]:
movies.production_countries = movies.production_countries.map(ast.literal_eval, na_action = 'ignore')

In [47]:
movies.spoken_languages = movies.spoken_languages.map(ast.literal_eval, na_action = 'ignore')

## How to flatten nested Columns

4. __Extract__ only the __collection name__ from the column "belongs_to_collection" and __overwrite__ "belongs_to_collection". <br> For example: The value in the first row (Toy Story) should be 'Toy Story Collection'.

In [48]:
# remove weird id
movies = movies[~movies.index.str.contains('-')]

In [49]:
movies['belongs_to_collection']=movies.belongs_to_collection.map(lambda x: x['name'], na_action = 'ignore')

In [50]:
movies.head(n=2)

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,,
862,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.7,5415.0
8844,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413.0

5. __Extract__ all __genre names__ from the column "genres" and __overwrite__ "genres". If a movie has more than one genre, __seperate genres by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'Animation|Comedy|Family'.

In [64]:
def flatten(df, col):
    genres_ser = []
    for genres_dict in df[col]:
        genres_list = []
        if type(genres_dict) == float:
            pass
        else:
            for genre in genres_dict:
                genres_list.append(genre['name'])
        genres_list = '|'.join(genres_list)
        genres_ser.append(genres_list)
    return genres_ser

In [65]:
def test1(df, col):
    return df[col][0]

In [66]:
test1(movies, 'genres')

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [67]:
movies.genres

id
862       [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
8844      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
15602     [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
31357     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11862                        [{'id': 35, 'name': 'Comedy'}]
                                ...
439050    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
111109                        [{'id': 18, 'name': 'Drama'}]
67758     [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
227506                                                   []
461257                                                   []
Name: genres, Length: 45463, dtype: object

In [68]:
movies['genres'] = flatten(movies, 'genres')
movies.genres

id
862        Animation|Comedy|Family
8844      Adventure|Fantasy|Family
15602               Romance|Comedy
31357         Comedy|Drama|Romance
11862                       Comedy
                    ...
439050                Drama|Family
111109                       Drama
67758        Action|Drama|Thriller
227506
461257
Name: genres, Length: 45463, dtype: object

6. __Extract__ all __spoken language names__ from the column "spoken_languages" and __overwrite__ "spoken_languages". If a movie has more than one spoken language, __seperate spoken languages by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'English'.

In [69]:
movies.spoken_languages

id
862                [{'iso_639_1': 'en', 'name': 'English'}]
8844      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15602              [{'iso_639_1': 'en', 'name': 'English'}]
31357              [{'iso_639_1': 'en', 'name': 'English'}]
11862              [{'iso_639_1': 'en', 'name': 'English'}]
                                ...
439050               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
111109                    [{'iso_639_1': 'tl', 'name': ''}]
67758              [{'iso_639_1': 'en', 'name': 'English'}]
227506                                                   []
461257             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45463, dtype: object

In [70]:
movies['spoken_languages'] = flatten(movies, 'spoken_languages')

In [71]:
movies.spoken_languages

id
862                English
8844      English|Français
15602              English
31357              English
11862              English
                ...
439050               فارسی
111109
67758              English
227506
461257             English
Name: spoken_languages, Length: 45463, dtype: object

7. __Extract__ all __production countries names__ from the column "production_countries" and __overwrite__ "production_countries". If a movie has more than one production country, __seperate production countries by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'United States of America'.

In [72]:
movies['production_countries'] = flatten(movies,'production_countries')

In [74]:
movies.production_countries

id
862       United States of America
8844      United States of America
15602     United States of America
31357     United States of America
11862     United States of America
                    ...
439050                        Iran
111109                 Philippines
67758     United States of America
227506                      Russia
461257              United Kingdom
Name: production_countries, Length: 45463, dtype: object

8. __Extract__ all __production companies names__ from the column "production_companies" and __overwrite__ "production_companies". If a movie has more than one production company, __seperate production companies by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'Pixar Animation Studios'

9. __Inspect__ all columns above with value_counts(). Do you see anything strange? __Take reasonable measures__!

## Cleaning Numerical Columns

10. __Convert__ the datatype in the columns __"budget"__, __"id"__ and __"popularity"__ __to numeric__. Set invalid values as NaN.

11. __Analyze__ the columns __"budget"__ and __"revenue"__ and __"runtime"__. Analyze movies with a budget/revenue/runtime of 0. Do you think the value 0 is the most appropriate value? __Take reasonable measures__!

12. The columns "budget" and "revenue" shall show values in Million USD. __Convert and Overwrite__!

13. __Analyze__ movies with a __vote_count of 0__. What´s the __vote_average__ for those movies? Do you think this value is the most appropriate value? __Take reasonable measures__!

## Cleaning DateTime Columns

14. __Convert__ the datatype in the column __"release_date"__ __to datetime__. Set invalid values as NaN.

## Cleaning Text / String Columns

15. __Analyze__ the text columns "overview" and "tagline". Try to identify __missing data that is not represented by NaN__ (e.g. "No Data"). __Replace as NaN__ (np.nan)!

## Removing Duplicates

16. __Identify__ and __remove__ duplicates!

## Handling Missing Values & Removing Observations

17. __Drop__ all rows/movies with unknown __id__ or __title__.

18. __Keep__ only those rows/movies in the df with __10 or more non-NaN__ values.

## Final (Cleaning) Steps

19. __Keep__ only those rows/movies in the df with __status "Released"__. Then __drop__ the column "status".

20. The Order of the columns should be as follows:

In [ ]:
["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
"original_language", "budget_musd", "revenue_musd", "production_companies",
"production_countries", "vote_count", "vote_average", "popularity", "runtime",
"overview", "spoken_languages", "poster_path"]

21. __Reset__ the Index and create a __RangeIndex__.

22. __Save__ the cleaned dataset in a __csv-file__.

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 3.__ <br>
apply ast.literal_eval() on all stringified elements (you have to import ast):

In [ ]:
# example:
df.stringified_column = df.stringified_column.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

__Hints for 4., 5., 6., 7., 8.__<br> 
apply an appropriate lambda function on all column elements

__Hints for 9.__<br>
Replace all __""__ (empty strings) in the above columns by NaN (__np.nan__)

__Hints for 10.__<br>
Use pd.to_numeric() and "coerce" errors

__Hints for 11.__<br>
Replace the value 0 by NaN (__np.nan__)

__Hints for 13.__<br>
Replace the value 0 by NaN (__np.nan__)

__Hints for 14.__<br>
Use pd.to_datetime() and "coerce" errors

__Hints for 16.__<br>
There cannot be two or more movies with the same movie id.