# Project 6: Importing & Merging many files (Baby Names Dataset) - Part 1

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 6 (Part 1) on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Getting the Files from the Web

1. __Go__ to https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data and __download__ and __unzip__ the file.

In [5]:
import pandas as pd
import numpy as np
import glob
import os

## Importing one File & Understanding the Data Structure

2. __Load__ the file __"yob1880.txt"__ into Pandas and __inspect__.

In [36]:
a = pd.read_csv("yob1880.txt", header = None, names = ["name", " gender", "number"] )
b = pd.read_csv("yob1881.txt", header = None, names = ["name", " gender", "number"] )
pd.concat([a,b], ignore_index = True )

           name  gender  number
0          Mary       F    7065
1          Anna       F    2604
2          Emma       F    2003
3     Elizabeth       F    1939
4        Minnie       F    1746
...         ...     ...     ...
3930     Wiliam       M       5
3931     Wilton       M       5
3932       Wing       M       5
3933       Wood       M       5
3934     Wright       M       5

[3935 rows x 3 columns]

## Importing & merging many files (easy case)

3. __Load__ all files (yob????.txt) and __merge/concatenate__ all files into one Pandas DataFrame. Make sure you add the __column "Year"__.

In [40]:
path = os.getcwd()
txt_files = glob.glob(os.path.join(path, "*.txt"))

In [93]:
a = pd.read_csv(txt_files[0], header = None, names = ["name", "gender", "number"])
a['year'] = txt_files[0][-8:-4]

In [94]:
for f in txt_files[1:]:
    b = pd.read_csv(f, header = None, names = ["name", "gender", "number"] )
    b['year'] = f[-8:-4]
    a = pd.concat([a,b])

In [97]:
a.groupby(by=['name','gender']).number.sum().sort_values(ascending = False)

name       gender
James      M         5164280
John       M         5124817
Robert     M         4820129
Michael    M         4362731
Mary       F         4125675
                      ...
Halyna     F               5
Hamaad     M               5
Benedicte  F               5
Hameedah   F               5
Gaoussou   M               5
Name: number, Length: 109173, dtype: int64

In [92]:
a["gender"]

0             Emily
1            Hannah
2           Madison
3            Ashley
4             Sarah
             ...
1957041     Winfrey
1957042       Yancy
1957043      Yazzie
1957044    Zaragoza
1957045       Zenas
Name: name, Length: 1957046, dtype: object

4. Create a __RangeIndex__ and __save__ the DataFrame (with columns "Year", "Name", "Gender" and "Count") in a new csv-file.

In [99]:
a.reset_index(drop = True, inplace = True)
a

             name gender  number  year
0           Emily      F   25956  2000
1          Hannah      F   23082  2000
2         Madison      F   19968  2000
3          Ashley      F   17997  2000
4           Sarah      F   17702  2000
...           ...    ...     ...   ...
1957041   Winfrey      M       5  1935
1957042     Yancy      M       5  1935
1957043    Yazzie      M       5  1935
1957044  Zaragoza      M       5  1935
1957045     Zenas      M       5  1935

[1957046 rows x 4 columns]

# +++++++++ See some Hints below +++++++++++++

In [102]:
year = 12
print("abc{}".format(12))

abc12

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 2.__ <br>
You can use pd.read_csv(). You need to add appropriate column headers (e.g. "Name", "Gender", "Count")

__Hints for 3.__<br>
Use a for loop and pd.concat().