## Pandas Crash Course (Part 3)

### Filtering DataFrames with one Condition

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head(10)

In [ ]:
titanic.sex.head(10)

In [ ]:
titanic.sex == "male"

In [ ]:
titanic[titanic.sex == "male"]["fare"]

In [ ]:
titanic.loc[titanic.sex == "male", "fare"]

In [ ]:
mask1 = titanic.sex == "male"
mask1

In [ ]:
titanic_male = titanic.loc[mask1]

In [ ]:
titanic_male.head()

In [ ]:
titanic.dtypes# == object

In [ ]:
mask2 = titanic.dtypes == object
mask2

In [ ]:
titanic.loc[:, ~mask2]

In [ ]:
titanic.loc[mask1, ~mask2]

### Filtering DataFrames with many Conditions (AND)

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head(10)

In [ ]:
mask1 = titanic.sex == "male"
mask1.head()

In [ ]:
mask2 = titanic.age > 14
mask2.head()

In [ ]:
(mask1 & mask2).head()

In [ ]:
male_adult = titanic.loc[mask1 & mask2, ["survived", "pclass", "sex", "age"]]
male_adult.head(20)

In [ ]:
male_adult.info()

In [ ]:
male_adult.describe()

In [ ]:
titanic.describe()

### Filtering DataFrames with many Conditions (OR)

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
mask1 = titanic.sex == "female"
mask1.head(20)

In [ ]:
mask2 = titanic.age < 14
mask2.head(20)

In [ ]:
(mask1 | mask2).head(11)

In [ ]:
titanic.loc[mask1 | mask2]

In [ ]:
wom_or_chi = titanic.loc[mask1 | mask2, ["survived", "pclass", "sex", "age"]]

In [ ]:
wom_or_chi.head()

In [ ]:
wom_or_chi.info()

In [ ]:
wom_or_chi.describe()

In [ ]:
titanic.describe()

### Creating Columns based on other Columns

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
1912 - titanic.age

In [ ]:
titanic["YoB"] = 1912 - titanic.age

In [ ]:
titanic.head()

In [ ]:
titanic.sibsp + titanic.parch

In [ ]:
titanic["relatives"] = titanic.sibsp + titanic.parch

In [ ]:
titanic.head()

In [ ]:
titanic.drop(columns = ["sibsp", "parch"], inplace = True)

In [ ]:
titanic.head()

In [ ]:
inflation_factor = 10

In [ ]:
titanic.fare*10

In [ ]:
titanic.fare = titanic.fare*10

In [ ]:
titanic.head()

### apply(), map() and applymap()

In [2]:
import pandas as pd

In [3]:
sales = pd.read_csv("sales.csv", index_col = 0)

In [4]:
sales

        Mon  Tue  Wed   Thu  Fri
Steven   34   27   15   NaN   33
Mike     45    9   74  87.0   12
Andi     17   33   54   8.0   29
Paul     87   67   27  45.0    7

In [6]:
sales.loc[["Steven","Mike"]]

        Mon  Tue  Wed   Thu  Fri
Steven   34   27   15   NaN   33
Mike     45    9   74  87.0   12

In [ ]:
sales.info()

In [ ]:
sales.min(axis = 0)

In [ ]:
sales.min(axis = 1)

In [ ]:
def range(series):
    return series.max() - series.min()

In [ ]:
sales.apply(lambda x: x.max() - x.min(), axis = 0)

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer.Athlete.apply(lambda x: x[0])

In [ ]:
summer.Athlete.map(lambda x: x[0])

In [ ]:
summer.iloc[:,1:3].applymap(lambda x: x[0])

In [ ]:
sales.applymap(lambda x: 0.4*x-5)

In [ ]:
sales*0.4-5

### The plot() method

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
titanic.plot(subplots= True, figsize=(15, 12), sharex= False, sharey=False)
plt.show()

In [ ]:
titanic.age.plot(figsize=(12, 8))
plt.show()